    html{
        scroll-padding-top: 100px;
    }
    body { 
        background-color: rgb(236, 226, 226);
        margin: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        }


    /*navbar*/

    .nav-links {
        display: flex;
        margin: 0;
        padding: 20;
        overflow: hidden;
        background-color: whitesmoke;
        justify-content: center;
        position: fixed;
        width: 100%;       
        top: o;
        }

    .nav-links a {
        display: inline-block;
        color: rgb(1, 1, 1);
        text-align: center;
        padding: 10px 10px;
        text-decoration: none;
        font-size: x-large;
        font-weight: bold;
        }

    .nav-links a:hover {
        color: rgb(127, 191, 228);
        }

        
    /*Bild och namn*/
  
    .img-moi {
        width: 300px;
        border-radius: 100px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
        padding: 50px;
        }

    .imgmoi-container {
        display: flex;
        align-items: center;
        }
  

        /*Om mig*/

    .example1 {
        background-color: rgb(221, 233, 233);
        display: flex;
        margin: 0;
        padding: 150px;
        overflow: hidden;
        justify-content: space-around;
        }

    .example1 h2 {
        font-size: xx-large;
        }

    .example1 p {
        font-size: large;
        }
 

        /*Min portfolio*/

    .example2 {
        background-color: rgb(243, 247, 247);
        margin: 0;
        padding: 150px;
        overflow: hidden;
        justify-content: space-around;
        }

   .example2 h2 {
        font-size: xx-large;
        margin: 20px;
        margin-left: 33%;
        }
  
   .minportfolio {
        display: center;
        max-width: 60rem;        
        }

    .container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        }
    
    .card{
        background: rgb(2, 2, 2);
        width: 270px;
        margin: 10px;
        border-radius: 15px;
        }
    
    .card-image {
        background-color: black;
        height: 330px;
        margin-bottom: 15px;
        background-size: cover;
        border-radius: 15px 15px 0 0 ;
        }
    
    .cargo {
        background-image: url(cargo.png);
        }
    
    .parkeriz {
        background-image: url(parkeriz.png);
        }
    
    .card {
        padding: 10px;
        color: aliceblue;
        }

    .card p{
        padding: 10px;
        color: aliceblue;
        }
    
    .card a {
        background-color: rgb(7, 7, 7);
        color: white;
        padding: 15px 20 px;
        display: block;
        text-align: center;
        margin: 20px 50px;
        text-decoration: none;
        }

    .card:hover {
        background-color: rgb(106, 108, 110);
        color:rgb(253, 253, 252);
        cursor: pointer;
        transform: scale(1.03);
        transition: all 1s ease;
        }


        /*Kontaktinformation*/

   .example3 {
        background-color: rgb(148, 170, 170);
        display: flex;
        margin: 0;
        padding: 80px;
        overflow: hidden;
        justify-content: space-around;
        }
    
    .example3 h2 {
        font-size: xx-large;
        margin-left: 1%;
        }

    .example3 p {
        font-size: large;
        bottom: 1px;
        }

    @media screen and (max-width: 400px){
    .example2 {
        display: left;
    }
    } 